<% content_for :title, "Forgot your password?" %>

<div class="mx-auto w-full max-w-md">
  <h1 class="font-bold text-3xl">Forgot your password?</h1>

  <%= form_with url: passwords_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.label :email_address, class: "block text-sm font-medium" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "you@example.com", value: params[:email_address], class: input_classes %>
    </div>

    <%= form.submit "Email reset instructions", class: "w-full sm:w-auto #{button_classes(:primary)}" %>
  <% end %>
</div>
